.tag {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;

    border: 2px solid var(--neon);
    color: var(--dark-blue);
    /* background-color: var(--neon-transparent); */

    font-family: var(--font-monospace);
    font-size: 80%;
}