.flex-column {
    display: flex;
    flex-direction: column;
}

.spacer {
    width: 40px;
    height: 40px;
}

.flex-row-perm {
    display: flex;
    justify-content: center;
}

.flex-column-perm {
    display: flex;
    flex-direction: column;
}

.justify-center-then-start,
.justify-center-then-end {
    display: flex;
    justify-content: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    display: flex;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

@media screen and (min-width: 740px) {
    .flex-column:not(#about) {
        flex-direction: row;
    }

    #about .flex-column {
        flex-direction: row;
    }

    .justify-center-then-start {
        justify-content: flex-start;
    }

    .justify-center-then-end {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1060px) {
    .spacer {
        width: 80px;
        height: 40px;
    }
}