section {
    padding: 40px 7%;
}

.section-dark {
    background-color: var(--dark-blue);
    color: var(--white);
}

.section-light {
    background-color: var(--white);
    color: var(--black);
}

.section-neon {
    background-color: var(--neon);
    color: var(--black);
}