header {
    color: var(--neon);
}

#hero-shot {
    /* height: 50vh; */
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7%;
    padding-top: 40px;
    /* background-color: var(--black); */
    /* background: linear-gradient(15deg, var(--dark-blue) 80%, var(--neon)); */
    /* background-image: url("../../assets/images/hero-shot-2.png");
    background-position: left bottom 75%; */
}

/* My name */
#hero-shot h1 {
    margin: var(--heading-margin);
    text-align: center;
    font-size: 600%;
    font-weight: 700;
    /* text-shadow: 5px 5px 0px var(--black); */
}

/* My title */
.subtitle-1 {
    margin: 5px 0;
    text-align: center;
    font-size: 200%;
    text-shadow: 2px 2px 0px var(--black);
}

.subtitle-2 {
    font-size: 150%;
}

.mern-icons-container {
    --float-amount: 7px;
    margin: calc(10px + var(--float-amount) * 2) 0;
}

.mern-icon {
    height: 60px;
    width: auto;
    margin: 0 10px;

    position: relative;
    top: var(--float-amount);

    animation: float 3s ease-in-out infinite;

    color: var(--white);
    transition: transform 0.3s;
}

.mern-icon:hover {
    color: var(--neon);
    transform: scale(1.2) skew(-0.06rad);
    transition: transform 0.3s;
}

.mern-icon[logo=MonogDB] {
    animation-delay: 0s;
}

.mern-icon[logo=Express] {
    animation-delay: 0.25s;
}

.mern-icon[logo=React] {
    animation-delay: 0.5s;
}

.mern-icon[logo=Node] {
    animation-delay: 0.75s;
}

@keyframes float {
    0% {
        top: var(--float-amount);
    }
    50% {
        top: calc(-1 * var(--float-amount));
    }
    100% {
        top: var(--float-amount);
    }
}

@media screen and (min-width: 740px) {
    #hero-shot h1,
    .subtitle-1 {
        text-align: start;
    }
}