nav {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: flex-end; */
}

@media screen and (min-width: 740px) {
    nav {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: row;
        justify-content: space-evenly;
    }
}