.white-dot-background {
    /* background-color: var(--dark-blue); */
    /* background-image: radial-gradient(var(--black), black 80%); */
    --dot-gap: 60px;
    
    background: radial-gradient(black 1px, var(--white) 0);
    background-size: var(--dot-gap) var(--dot-gap);
    /* background-attachment: fixed; */
    /* border: var(--top-border-thickness) solid var(--white); */
    /* border-top: none; */
}

.project-heading {
    margin-bottom: 2rem;
}